.container
  #map-canvas
  = image_tag 'refresh.png', id: 'refresh-results'
  = image_tag 'coffee.png', id: 'coffee-search'
  = image_tag 'beer.png', id: 'bars-search'
  = image_tag 'restaurant.png', id: 'restaurants-search'